{{ ansible_managed | comment }}

{% if apt_cacher_ng_cache_dir %}
CacheDir: {{ apt_cacher_ng_cache_dir }}
{% endif %}
{% if apt_cacher_ng_log_dir %}
LogDir: {{ apt_cacher_ng_log_dir }}
{% endif %}
{% if apt_cacher_ng_port %}
Port: {{ apt_cacher_ng_port }}
{% endif %}

Remap-proxmox: http://download.proxmox.com/debian ; file:backends_proxmox
Remap-debrep: file:deb_mirror*.gz /debian ; file:backends_debian
Remap-uburep: file:ubuntu_mirrors /ubuntu ; file:backends_ubuntu
Remap-debvol: file:debvol_mirror*.gz /debian-volatile ; file:backends_debvol
Remap-security: file:security_mirror*.gz /debian-security ; file:backends_debsec

{% if apt_cacher_ng_ex_threshold %}
ExTreshold: {{ apt_cacher_ng_ex_threshold }}
{% endif %}
{% if apt_cacher_ng_vfile_pattern_ex %}
VfilePatternEx: {{ apt_cacher_ng_vfile_pattern_ex }}
{% endif %}
{% if apt_cacher_ng_vfile_use_range_ops %}
VfileUseRangeOps: {{ apt_cacher_ng_vfile_use_range_ops }}
{% endif %}
{% if apt_cacher_ng_pass_through_pattern %}
PassThroughPattern: {{ apt_cacher_ng_pass_through_pattern }}
{% endif %}
