{{ ansible_managed | comment }}

{% if apt_cacher_ng_cache_dir %}
CacheDir: {{ apt_cacher_ng_cache_dir }}
{% endif %}
{% if apt_cacher_ng_log_dir %}
LogDir: {{ apt_cacher_ng_log_dir }}
{% endif %}
{% if apt_cacher_ng_port %}
Port: {{ apt_cacher_ng_port }}
{% endif %}

{% if apt_cacher_ng_remap_proxmox | length > 0 %}
Remap-proxmox: {{ apt_cacher_ng_remap_proxmox | join(' ') }} ; file:backends_proxmox
{% endif %}
{% if apt_cacher_ng_remap_debrep | length > 0 %}
Remap-debrep: {{ apt_cacher_ng_remap_debrep | join(' ') }} ; file:backends_debian
{% endif %}
{% if apt_cacher_ng_remap_uburep | length > 0 %}
Remap-uburep: {{ apt_cacher_ng_remap_uburep | join(' ') }} ; file:backends_ubuntu
{% endif %}
{% if apt_cacher_ng_remap_debvol | length > 0 %}
Remap-debvol: {{ apt_cacher_ng_remap_debvol | join(' ') }} ; file:backends_debvol
{% endif %}
{% if apt_cacher_ng_remap_security | length > 0 %}
Remap-security: {{ apt_cacher_ng_remap_security | join(' ') }} ; file:backends_debsec
{% endif %}

{% if apt_cacher_ng_ex_threshold %}
ExTreshold: {{ apt_cacher_ng_ex_threshold }}
{% endif %}
{% if apt_cacher_ng_vfile_pattern_ex %}
VfilePatternEx: {{ apt_cacher_ng_vfile_pattern_ex }}
{% endif %}
{% if apt_cacher_ng_vfile_use_range_ops %}
VfileUseRangeOps: {{ apt_cacher_ng_vfile_use_range_ops }}
{% endif %}
{% if apt_cacher_ng_pass_through_pattern %}
PassThroughPattern: {{ apt_cacher_ng_pass_through_pattern }}
{% endif %}
