[Unit]
Description=Run FreeIPA health metrics exporter periodically

[Timer]
OnBootSec={{ freeipa_health_initial_delay }}
OnUnitActiveSec={{ freeipa_health_interval }}
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
