---
- name: Install rsync on Debian-based systems
  ansible.builtin.apt:
    name:
      - rsync
    state: present
  when: ansible_os_family == "Debian"

- name: Install rsync on RHEL-based systems
  ansible.builtin.dnf:
    name:
      - rsync
    state: present
  when: ansible_os_family == "RedHat"
