---
- name: Install samba
  community.general.apk:
    name: samba
    state: present

- name: Create share directory
  ansible.builtin.file:
    path: "{{ samba_server_share_path }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Create samba system user
  ansible.builtin.user:
    name: "{{ samba_server_username }}"
    system: true
    shell: /sbin/nologin
    create_home: false

- name: Set samba password
  ansible.builtin.shell:
    cmd: "printf '%s\n%s\n' '{{ samba_server_password }}' '{{ samba_server_password }}' | smbpasswd -a -s '{{ samba_server_username }}'"
  changed_when: true
  no_log: true

- name: Deploy smb.conf
  ansible.builtin.template:
    src: smb.conf.j2
    dest: /etc/samba/smb.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart samba

- name: Download image files
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ samba_server_share_path }}/{{ item.dest }}"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ samba_server_files }}"
  when: samba_server_files | length > 0

- name: Enable and start samba
  ansible.builtin.service:
    name: samba
    enabled: true
    state: started
