---
- name: Configure apt proxy
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/02proxy
    content: |
      Acquire::http::Proxy "{{ apt_cache_proxy_url }}";
      Acquire::https::Proxy "DIRECT";
    mode: "0644"

- name: Deploy apt sources for caching (Debian)
  ansible.builtin.template:
    src: debian.sources.j2
    dest: /etc/apt/sources.list.d/debian.sources
    owner: root
    group: root
    mode: "0644"
  when: ansible_distribution == "Debian"

- name: Deploy apt sources for caching (Ubuntu)
  ansible.builtin.template:
    src: ubuntu.sources.j2
    dest: /etc/apt/sources.list.d/ubuntu.sources
    owner: root
    group: root
    mode: "0644"
  when: ansible_distribution == "Ubuntu"
