---
- name: Configure apt proxy
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/02proxy
    content: |
      Acquire::http::Proxy "{{ apt_cache_proxy_url }}";
      Acquire::https::Proxy "DIRECT";
    mode: "0644"

- name: Find apt mirror list files
  ansible.builtin.find:
    paths: /etc/apt/mirrors
    patterns: "*.list"
  register: _apt_mirror_files
  failed_when: false

- name: Convert apt mirror URLs from HTTPS to HTTP for caching
  ansible.builtin.replace:
    path: "{{ item.path }}"
    regexp: 'https://'
    replace: 'http://'
  loop: "{{ _apt_mirror_files.files | default([]) }}"
  loop_control:
    label: "{{ item.path }}"
