{% for name, config in vyos_v2_containers.items() %}
{% if config.allow_host_networks | default(false) %}
set container name {{ name }} allow-host-networks
{% endif %}
set container name {{ name }} image '{{ config.image }}'
set container name {{ name }} memory '{{ config.memory }}'
set container name {{ name }} restart '{{ config.restart }}'
{% for volume in config.volumes %}
set container name {{ name }} volume {{ volume.name }} destination '{{ volume.destination }}'
set container name {{ name }} volume {{ volume.name }} source '{{ volume.source }}'
{% endfor %}
{% endfor %}
