{% for rule in vyos_v2_firewall.ipv4_forward_filter_rules %}
set firewall ipv4 forward filter rule {{ rule.number }} action '{{ rule.action }}'
{% if rule.destination_address is defined %}
set firewall ipv4 forward filter rule {{ rule.number }} destination address '{{ rule.destination_address }}'
{% endif %}
{% if rule.source_address is defined %}
set firewall ipv4 forward filter rule {{ rule.number }} source address '{{ rule.source_address }}'
{% endif %}
{% if rule.states is defined %}
{% for state in rule.states %}
set firewall ipv4 forward filter rule {{ rule.number }} state '{{ state }}'
{% endfor %}
{% endif %}
{% endfor %}
