{% for group in vyos_v2_vrrp.groups %}
set high-availability vrrp group {{ group.name }} address '{{ group.address }}'
set high-availability vrrp group {{ group.name }} interface '{{ group.interface }}'
{% if vyos_v2_vrrp_preempt_delay is defined %}
set high-availability vrrp group {{ group.name }} preempt-delay '{{ vyos_v2_vrrp_preempt_delay }}'
{% endif %}
{% if vyos_v2_vrrp_priority is defined %}
set high-availability vrrp group {{ group.name }} priority '{{ vyos_v2_vrrp_priority }}'
{% endif %}
set high-availability vrrp group {{ group.name }} vrid '{{ group.vrid }}'
{% endfor %}
{% if vyos_v2_vrrp.sync_group is defined %}
{% if vyos_v2_vrrp.sync_group.health_check is defined %}
set high-availability vrrp sync-group {{ vyos_v2_vrrp.sync_group.name }} health-check failure-count '{{ vyos_v2_vrrp.sync_group.health_check.failure_count }}'
set high-availability vrrp sync-group {{ vyos_v2_vrrp.sync_group.name }} health-check interval '{{ vyos_v2_vrrp.sync_group.health_check.interval }}'
set high-availability vrrp sync-group {{ vyos_v2_vrrp.sync_group.name }} health-check script '{{ vyos_v2_vrrp.sync_group.health_check.script }}'
{% endif %}
{% for member in vyos_v2_vrrp.sync_group.members %}
set high-availability vrrp sync-group {{ vyos_v2_vrrp.sync_group.name }} member '{{ member }}'
{% endfor %}
{% endif %}
