{# conntrack-sync #}
{% for proto in vyos_v2_conntrack_sync.accept_protocols %}
set service conntrack-sync accept-protocol '{{ proto }}'
{% endfor %}
set service conntrack-sync event-listen-queue-size '{{ vyos_v2_conntrack_sync.event_listen_queue_size }}'
set service conntrack-sync failover-mechanism vrrp sync-group '{{ vyos_v2_conntrack_sync.failover_mechanism.vrrp_sync_group }}'
set service conntrack-sync interface {{ vyos_v2_conntrack_sync.interface }}
{% if vyos_v2_conntrack_peer is defined %}
set service conntrack-sync interface {{ vyos_v2_conntrack_sync.interface }} peer '{{ vyos_v2_conntrack_peer }}'
{% endif %}
set service conntrack-sync sync-queue-size '{{ vyos_v2_conntrack_sync.sync_queue_size }}'
{# dhcp-server #}
set service dhcp-server high-availability mode '{{ vyos_v2_dhcp_server.high_availability.mode }}'
set service dhcp-server high-availability name '{{ vyos_v2_dhcp_server.high_availability.name }}'
{% if vyos_v2_dhcp_ha is defined %}
set service dhcp-server high-availability remote '{{ vyos_v2_dhcp_ha.remote }}'
set service dhcp-server high-availability source-address '{{ vyos_v2_dhcp_ha.source_address }}'
set service dhcp-server high-availability status '{{ vyos_v2_dhcp_ha.status }}'
{% endif %}
{% for network in vyos_v2_dhcp_server.shared_networks %}
{% if network.ignore_client_id | default(false) %}
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} ignore-client-id
{% endif %}
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} lease '{{ network.lease }}'
{% if network.default_router is defined %}
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} option default-router '{{ network.default_router }}'
{% endif %}
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} option domain-name '{{ network.domain_name }}'
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} option domain-search '{{ network.domain_search }}'
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} option name-server '{{ network.name_server }}'
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} range 0 start '{{ network.range_start }}'
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} range 0 stop '{{ network.range_stop }}'
set service dhcp-server shared-network-name {{ network.name }} subnet {{ network.subnet }} subnet-id '{{ network.subnet_id }}'
{% endfor %}
{# dns #}
set service dns forwarding allow-from '{{ vyos_v2_dns_forwarding.allow_from }}'
set service dns forwarding dnssec '{{ vyos_v2_dns_forwarding.dnssec }}'
{% for addr in vyos_v2_dns_forwarding.listen_addresses %}
set service dns forwarding listen-address '{{ addr }}'
{% endfor %}
{% if vyos_v2_dns_forwarding.system | default(false) %}
set service dns forwarding system
{% endif %}
{# ntp #}
{% for addr in vyos_v2_ntp.allow_client_addresses %}
set service ntp allow-client address '{{ addr }}'
{% endfor %}
{% for server in vyos_v2_ntp.servers %}
set service ntp server '{{ server }}'
{% endfor %}
{# ssh #}
{% if vyos_v2_ssh.disable_password_authentication %}
set service ssh 'disable-password-authentication'
{% endif %}
set service ssh port '{{ vyos_v2_ssh.port }}'

