- name: Install Podman on RHEL-based systems
  ansible.builtin.dnf:
    name:
      - podman
      - slirp4netns
    state: present
  when: ansible_os_family == "RedHat"

- name: Install ca-certificates for Debian-based systems
  ansible.builtin.apt:
    name: ca-certificates
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Get distribution ID
  ansible.builtin.shell: |
    grep -oP '(?<=^ID=).+(?=$)' /etc/os-release | tr -d '"'
  register: distribution_id
  changed_when: false
  when: ansible_os_family == "Debian"

- name: Set distribution name for Docker repository
  ansible.builtin.set_fact:
    distribution_name: "{{ 'ubuntu' if distribution_id.stdout == 'ubuntu' else 'debian' }}"
  when: ansible_os_family == "Debian"

- name: Ensure /etc/apt/keyrings directory exists
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  when: ansible_os_family == "Debian"

- name: Add Docker GPG key
  ansible.builtin.get_url:
    url: "https://download.docker.com/linux/{{ distribution_name }}/gpg"
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
    force: true
  when: ansible_os_family == "Debian"

- name: Get distribution codename
  ansible.builtin.shell: |
    grep -oP '(?<=^VERSION_CODENAME=).+(?=$)' /etc/os-release
  register: distribution_codename
  changed_when: false
  when: ansible_os_family == "Debian"

- name: Get system architecture
  ansible.builtin.command: dpkg --print-architecture
  register: system_architecture
  changed_when: false
  when: ansible_os_family == "Debian"

- name: Add Docker repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/docker.sources
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/{{ distribution_name }}
      Suites: {{ distribution_codename.stdout }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc
      Architectures: {{ system_architecture.stdout }}
    mode: '0644'
  when: ansible_os_family == "Debian"

- name: Update apt cache after adding Docker repository
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install Podman on Debian-based systems
  ansible.builtin.apt:
    name:
      - podman
      - containers-storage
      - uidmap
      - slirp4netns
    state: present
    install_recommends: no
  when: ansible_os_family == "Debian"
