{{ ansible_managed | comment }}

Types: deb
URIs: http://archive.ubuntu.com/ubuntu
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates {{ ansible_distribution_release }}-backports
Components: {{ pkg_cache_ubuntu_components }}
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

Types: deb
URIs: http://security.ubuntu.com/ubuntu
Suites: {{ ansible_distribution_release }}-security
Components: {{ pkg_cache_ubuntu_components }}
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
