{% if vmagent_external_labels %}
global:
  external_labels:
{% for key, value in vmagent_external_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
scrape_configs:
{% for config in vmagent_scrape_configs %}
  - job_name: {{ config.job_name }}
{% if config.metrics_path is defined %}
    metrics_path: {{ config.metrics_path }}
{% endif %}
{% if config.params is defined %}
    params:
{% for key, value in config.params.items() %}
      {{ key }}: {{ value | to_json }}
{% endfor %}
{% endif %}
{% if config.static_configs is defined %}
    static_configs:
{% for static_config in config.static_configs %}
      - targets:
{% for target in static_config.targets %}
        - {{ target }}
{% endfor %}
{% if static_config.labels is defined %}
        labels:
{% for key, value in static_config.labels.items() %}
          {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if config.relabel_configs is defined %}
    relabel_configs:
{% for relabel in config.relabel_configs %}
{% if relabel.source_labels is defined %}
      - source_labels: [{{ relabel.source_labels | join(', ') }}]
{% else %}
      -
{% endif %}
{% if relabel.regex is defined %}
        regex: '{{ relabel.regex }}'
{% endif %}
{% if relabel.target_label is defined %}
        target_label: {{ relabel.target_label }}
{% endif %}
{% if relabel.replacement is defined %}
        replacement: '{{ relabel.replacement }}'
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
