[Unit]
Description={{ victorialogs_service_description }}

[Container]
Image={{ victorialogs_container_image }}
ContainerName={{ victorialogs_container_name }}
Network={{ victorialogs_network_name }}
AutoUpdate=registry
LogDriver=journald
UserNS=keep-id
NoNewPrivileges=true
ReadOnly=true
PublishPort={{ victorialogs_container_port }}:9428
Volume={{ victorialogs_data_dir }}:/victoria-logs-data:Z
Volume=/etc/localtime:/etc/localtime:ro
{% if victorialogs_partition_auth_key | length > 0 %}
Volume={{ victorialogs_partition_auth_key_file }}:/etc/partition-auth.key:ro,Z
{% endif %}
Exec='-retentionPeriod={{ victorialogs_retention_period }}'{% if victorialogs_partition_auth_key | length > 0 %} '-partitionManageAuthKey=file:///etc/partition-auth.key'{% endif %}

[Service]
Restart={{ victorialogs_service_restart }}
RestartSec={{ victorialogs_service_restart_sec }}

[Install]
WantedBy=default.target
