- name: Gather OS family fact if not available
  ansible.builtin.setup:
    gather_subset:
      - "!all"
      - "!any"
      - distribution
  when: ansible_facts['os_family'] is not defined

- name: Install nfs-utils package on RedHat-based systems
  ansible.builtin.package:
    name: nfs-utils
    state: present
  when: ansible_facts['os_family'] == "RedHat"

- name: Install nfs-kernel-server package on Debian-based systems
  ansible.builtin.package:
    name: nfs-kernel-server
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Start and enable NFS service on RedHat-based systems
  ansible.builtin.service:
    name: nfs-server
    state: started
    enabled: yes
  when: ansible_facts['os_family'] == "RedHat"

- name: Start and enable NFS service on Debian-based systems
  ansible.builtin.service:
    name: nfs-kernel-server
    state: started
    enabled: yes
  when: ansible_facts['os_family'] == "Debian"
