- name: Install Podman on RHEL-based systems
  ansible.builtin.dnf:
    name:
      - podman
      - slirp4netns
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Podman on Debian-based systems
  ansible.builtin.apt:
    name:
      - podman
      - containers-storage
      - uidmap
      - slirp4netns
      - passt
      - aardvark-dns
      - nftables
    state: present
    install_recommends: no
  when: ansible_os_family == "Debian"
#- name: Remove Docker GPG key
#  ansible.builtin.file:
#    path: /etc/apt/keyrings/docker.asc
#    state: absent
#  when: ansible_os_family == "Debian"

#- name: Remove Docker repository
#  ansible.builtin.file:
#    path: /etc/apt/sources.list.d/docker.sources
#    state: absent
#  when: ansible_os_family == "Debian"
